<!DOCTYPE html>
<html>
<head>
  <title>XingXing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body id="bio" data-spy="scroll">


		
	<%= render 'layouts/header' %>

	<div class="container">

<%= yield %>

	</div>
	
</body>
</html>
